@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@1,800&display=swap');

*{
    margin:0;
}

a{
    text-decoration: none;
    color:black;
    letter-spacing: 1.5px;
    padding:2rem;
    margin:0.5rem;
}

.navbar-container{
    width:100vw;
    height:auto;
    position: fixed; 
    z-index:1;
    background-color: white;
}
#navbar{
    /* background-color: aquamarine; */
    display:flex;
    justify-content: space-between;
    width:100%;
    height:auto;
    
}
@media screen and (min-width:990px){}
#header-img{
    /* background-color: blue; */

    padding-top:0.5rem;
}

.logo-options{
    /* background-color: red; */
    display: flex;
    margin-right:1rem;
    /* display: inline-block; */
}
.logo-options a{
    transition: 0.5s ease-out;
}
.logo-options a:hover{
    color:wheat;
    transition: 0.5s ease-out;
}

.hidden{
    display: none;
}

.icon-button {
    background-color: transparent;
    font-size: 3rem;
    margin: 2rem;
    border:none;
    transition: 0.5s ease-out;
    display: none;
    }



@media screen and (max-width:990px){

    .logo-options{
        /* background-color: rgb(255,255,255); */
        flex-direction: column;
        width:100%; 
        background-color: tomato;
    }

    .logo-options a:hover{
        color:black;
    }

    .hover-small{
        transition: 0.5s ease-out;
    }
    .hover-small:hover{
        background-color: wheat;
        transition: 0.5s ease-out;
        color:black;
    }

    #navbar{
        flex-direction: column;
    }

    .icon-button {
    /* background-color: transparent;
    font-size: 3rem;
    margin: 2rem;
    border:none;
    transition: 0.5s ease-out; */
    display: inline;
    }

    .icon-button:hover{
        color: wheat;
    }
    #header-img{
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:0.5rem;  
    }

}

/* End of navbar */

/* headear */
.header{
    width:100%;
    height:100vh;
    background-image: url(./pexels-ekaterina-bolovtsova-6311861.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    
}

#center-header{
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    height:100%;
}
#tagline-center{
    /* background-color: chartreuse; */
    height:50%;
    display: flex;
    align-items: flex-end;


}
.tagline{
    /* background-color: brown; */
}
#main-tag{
    font-size:72px;
    text-align: center;
    letter-spacing: 1.5px;
    margin:1.5rem;
}

#desc-tag{
    font-size: 32px;
    text-align: center;
    /* background-color: coral; */
}

.tag{
    font-size:90px;
    font-family: 'Be Vietnam', sans-serif;
}
.icon-down a{
    background-color: transparent;
    font-size:60px;
    margin:1rem;  
    border:none; 
    color:whitesmoke;
    transition: 0.5s;
    animation-name: arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

button:hover{
    color:black;
    transition: 0.5s;
}

@media screen and (max-width:990px){
    .header{
        /* position: relative; */
    }
    #main-tag{
        font-size:50px;
        color:wheat;
    }

    #desc-tag{
    font-size: 25px;
    color:wheat;
    }
}

@keyframes arrow {
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
    }

}

/* End of Header */

#Begining{
    /* background-color: violet; */
    width:100vw;
    height: 100vh;
}

.beginning-center{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
}

.title{
    background-color: black;
    padding-top:2rem; 
    padding-bottom:2rem; 
    font-size:32px;
    text-align: center;
    width:100%;
    height: 10%;
    color: white;
    text-transform: capitalize;
}

#beginning-title{
    border-bottom: solid 2px wheat;
}

.content-container{
    /* background-color: yellowgreen; */
    width:100%;
    height:90%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#story{
    /* background-color: violet; */
    width:45%;
    height:90%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    border-radius: 15px;
}

#sizing-font{
    font-size: 30px;
    letter-spacing: 0.2rem;
}

#img-container{
    width:45%;
    height: 90%;
    background-color: turquoise;
    background-image: url(./pexels-ron-lach-8272392.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border:2px solid black;
    border-radius: 15px;
}

@media screen and (max-width:990px){
    .title{
        background-color: wheat;
    }
    .content-container{
        /* display: flex; */
        flex-direction: column;
    }

    #img-container{
        height: 45%;
        width: 90%;
        border:2px solid wheat;
    }

    #story{
        height: 45%;
        width: 90%;
        border:2px solid wheat;
    }

    #sizing-font{
    font-size: 16px;
    letter-spacing: 0.2rem;
    }

    .tag{
        font-size:30px;
    }


}

/* end of beginning */

/* process */
    #process{
        width:100vw;
        height:100vh;
        /* background-color: teal; */
        display: flex;
      
    }
    #stages{
        width:100%;
        height:90%;
        /* background-color: yellowgreen; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .stage{
        width:auto;
        height: auto;
        /* background-color: violet; */
        /* margin:1rem; */
        padding:3rem;
        border-top: 2px solid wheat;
        /* border-bottom: 1px solid black; */
        
    }


    

    @media screen and (max-width:990px){
        #process{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #stages{
            width: 100%;
            margin-top:1rem;
        }
    }
/* End of process */

/* Products */
#products{
    width:100vw;
    height:100vh;
}

.product-content{
    background-color: transparent;
    height:85vh;
}

.product-container{
    background-color: transparent;
    width:25vw;
    height: 50vh;
    margin-top:1rem;
    margin-bottom:1rem;
    border-radius: 15px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.5s;
}

.product-container:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.product-img{
    width:90%;
    height:50%;
    background-image: url(./product-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.product-info{
    /* background-color: violet; */
    text-align: center;
    padding:0.7rem;
}


.buy-btn{
    width:6.8rem;
    height:1.8rem;
    background-color: transparent;
    border:2px solid black;
    transition: 0.5s ease-out;
}

.buy-btn:hover{
    background-color: wheat;
    transition: 0.5s ease-out;
}

 @media screen and (max-width:990px){
        .product-content{
            height: auto;
            /* background-color: turquoise;   */
        }

        .product-container{
            width:90%;
            padding-top:2rem;
            padding-bottom:2rem;
            border-color: wheat;
        }

        .product-img{
            height: 100%;
        }

        .product-container:hover{
            transform: scale(1);
            
        }
    }
/* End of Products */

